{{ define "paste" }}
{{ template "head" . }}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{.Title}} <span class="tag is-link is-normal">{{ .ID }}</span></h1>
            <h2 class="subtitle">
                <ul>
                    <li><b>Created:</b> {{.CreatedAt.Format "2006-01-02 15:04:05"}}</li>
                    {{ if .ExpiresAt.Valid }}
                    <li><b>Expires:</b> {{.ExpiresAt.Time.Format "2006-01-02 15:04:05"}}</li>
                    {{ end }}
                </ul>
            </h2>
        </div>
    </div>
</section>
<hr>
<pre><code class="go">
{{.Content}}
</code></pre>

<script>hljs.initHighlightingOnLoad();</script>

{{ template "tail" . }}
{{ end }}
